<div th:replace="comum/header"></div>
<div class="container-fluid">
	<form method="POST">
		<div class="card" id="card1">
			<div class="card-header">
				Cadastrar Fornecedor
			</div>
			<div class="card-body">
				<div class=row>
					<div class="col-3">
						<label for="disabledSelect" class="form-label">Categoria</label>
						<select id="disabledSelect" class="form-select" name="categoria" required>
							<option th:each="categoria: ${categorias}" th:value="${categoria.id}" th:text=${categoria.nome} ></option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class=" col-6">
						<label for="disabledTextInput" class="form-label">Nome Fantasia:</label>
						<input type="text" class="form-control" placeholder="Nome fantasia" name="nome" required>
					</div>
					<div class=" col-6">
						<label for="disabledTextInput" class="form-label">Nome Razão Social:</label>
						<input type="text" class="form-control" placeholder="Digite o nome da razão social " name="nome_r" required>
					</div>
					<div class=" col-6">
						<label for="disabledTextInput" class="form-label">CNPJ:</label>
						<input type="text" class="form-control" placeholder="número do CNPJ" id="id_CNPJ" name="cnpj"required>
					</div>
					<div class=" col-6">
						<label for="disabledTextInput" class="form-label">Iscrição estadual:</label>
						<input type="text" id="id_escricao_estadual" class="form-control" placeholder="Número da Inscrição estadual" required
							name="insc_esta">
					</div>
				</div>
			</div>
			</fieldset>
		</div>
		<div class="card" id="card2">
			<div class="card-header">
				Contato
			</div>
			<div class="card-body">
				<div class="row">
					<div class=" col-4">
						<label for="disabledTextInput" class="form-label">Nome</label >
						<input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" required
							name="nome_contato">
					</div>
					<div class=" col-4">
						<label for="disabledTextInput" class="form-label">Telefone</label>
						<input type="text" id="id_telefone" class="form-control" placeholder="Número do telefone" required
							name="telefone">
					</div>
					<div class=" col-4">
						<label for="disabledTextInput" class="form-label">Email</label>
						<input type="email" id="disabledTextInput" class="form-control" placeholder="Email" required
							name="email">
					</div>
					<div class=" col-4">
						<label for="disabledTextInput" class="form-label">cargo</label>
						<input type="text" id="disabledTextInput" class="form-control" placeholder="cargo" required
							name="cargo">
					</div>

					<div class="col-4">
						<label for="disabledSelect" class="form-label">Tipo</label>
						<select id="disabledSelect" class="form-select" name="telefone_tipo">
							<option>Particular</option>
							<option>Comercial</option>
						</select>
					</div>

					<div class="col-4">
						<label for="disabledSelect" class="form-label">Tipo</label>
						<select id="disabledSelect" class="form-select" name="email_tipo">
							<option>Particular</option>
							<option>Comercial</option>
						</select>
						<br><br>
					</div>



				</div>
			</div>



			</fieldset>

		</div>


		<div class="card" id="card3">
			<div class="card-header">
				Endereço
			</div>
			<div class="card-body">
				<div class="row">
					<div class=" col-2">
						<label for="disabledTextInput" class="form-label">CEP</label>
						<input type="text" id="id_cep" class="form-control" placeholder="Disabled input" 
							name="cep">
					</div>
					<div class=" col-4">
						<label for="disabledTextInput" class="form-label">Rua</label>
						<input type="text" id="disabledTextInput" class="form-control" placeholder="Rua" required
							name="rua">
					</div>


					<div class=" col-3">
						<label for="disabledTextInput" class="form-label">Número</label>
						<input type="text" id="disabledTextInput" class="form-control" placeholder="numero" required
							name="numero">
					</div>
					<div class=" col-3">
						<label for="disabledTextInput" class="form-label">Bairro</label>
						<input type="text" id="disabledTextInput" class="form-control" placeholder="Bairro" required
							name="bairro">
					</div>


					<div class=" col-4">
						<label for="disabledTextInput" class="form-label">Cidade</label>
						<input type="text" id="disabledTextInput" class="form-control" placeholder="cidade" required
							name="cidade">
					</div>

					<div class=" col-4">
						<label for="disabledTextInput" class="form-label">Prosimidade</label>
						<input type="text" id="disabledTextInput" class="form-control" placeholder="Estado" required
							name="estado">
					</div>

					<div class=" col-4">
						<label for="disabledTextInput" class="form-label">Complemento</label>
						<input type="text" id="disabledTextInput" class="form-control" placeholder="conplemento"
							name="Complemento">
					</div>

				</div><br>
				<div class="row">
					<div class=col>
						<button type="submit" class="btn btn-outline-primary">Salvar</button>
						<a  th:href="@{/fornecedores}" type="button" class="btn btn-outline-warning">Cancelar</a>
					</div>
				</div> <br><br>

			</div>

			</fieldset>
		</div>

	</form>
</div>
<div th:replace="comum/footer"></div>