<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	
	<h1>lista de Evento</h1>
	<h3><a href="/cadastrarEvento">cadastrar Evento</a></h3>
	<div th:each="evento : ${eventos}">
		<div class="row">
		       
			<p> <span th:text="${evento.nome}"></span></p>
			<p> <span th:text="${evento.local}"></span></p>
			<p> <span th:text="${evento.data}"></span></p>
			<p> <span th:text="${evento.horario}"></span></p>
			<p> <a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.codigo)).build()}">ver</a></p>
		</div>
	</div>
</body>
<script>
	window.console.log(eventos);
</script>
</html>